# .env.example

# Set the environment for testing. Use 'live' for real API calls or 'mock' for stubbed responses.
TEST_ENV=mock

# The gRPC endpoint for Ember API. For local testing, you might use localhost:50051.
EMBER_ENDPOINT=grpc.api.emberai.xyz:50051

# Optional API key for authentication with Ember
EMBER_API_KEY=your_api_key_here

# ------------------- TESTING ---------------------

# Used by start:anvil NPM script
ANVIL_PORT=3070

# Arbitrum RPC URL
ETH_RPC_URL=https://arbitrum.gateway.tenderly.co

# Must be in sync with the value logged by start:anvil NPM script.
# Includes a host, which implies the ability to use a remote machine
TEST_RPC_URL=http://localhost:3070

# This URL must be in sync with the value logged by start:anvil NPM script
TEST_EMBER_ENDPOINT=localhost:50051

# 24 secret words
MNEMONIC=

# Some protocol tests require WETH.
# Anvil generates some fake ETH that must be wrapped before use.
WETH_ADDRESS=0x82af49447d8a07e3bd95bd0d56f35241523fbab1
TEST_ANVIL_FORK_BLOCK_NUMBER=319869636